p{
    height: float;
    
}

.main-home{
    margin-right: 10px;
    margin-left: 10px;
    
}
.notices{
    border-style: solid;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    }
.notices-row{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}
.crest{
    font-family: Arial;
    font-style: italic;
    font-size: 25px;
    width: auto;
    text-align: center;
}

.clocks{
    font-family: Arial;
    border-style: solid;
    border-radius: 15px; 
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: center; 
}

.footer{
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
    
    padding-top: 10px;
    padding-bottom: 10px;
}

.flash-note{
    
    border-style: groove;
    border-color: lightskyblue;
    border-radius: 20px;
    border-width: 10px;
    text-align: center;
    margin-bottom: 10px;
    background-color: lightgray;
}
.news-grids{
    border-style: solid;
    border-radius: 10px;
    
    text-align: center;
    margin-right: 10px;
    padding: 10px; 
}
.footer{
   
    font-family: Arial;
    text-align: center;
    font-style: italic;
    font-weight: 900; 
    font-size: 12px; 
}
.cooler{
    font-family: Arial;
    text-align: center;
    font-size: 22px; 
    
    border-style: solid;
    border-radius: 10px;
    padding-top: 10px;
    margin-top: 10px;
    

}