.body1{
    height: 3000px;
    padding-top: 40px;
    padding-left: 80px;
}
.main-home{
    background-color: #398fa2;
    height: float;
    padding: 10px;
    color: white;
    text-align: center;
}
.flex-box-style{
    background-color: #398fa2;
    height: float;
    padding: 10px;
    color: white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.crest{
    margin-top: 130px;
    font-family: Arial;
    font-style: italic;
    font-size: 25px;
    width: auto;
    text-align: center;
    
}
.page-top{
    margin-top: 130px;
    font-family: Arial;
    font-size: 20px;
    width: auto;
    text-align: center;
}
.img-crest{
    
    width: 184px;
    height: 198px;
}
.flash-note{
    border-style: groove;
    border-color: grey;
    border-radius: 30px;
    border-width: 10px;
    text-align: center;
    margin-bottom: 10px;
    background-color: lightgray;
}
.notices-row{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    color: white;
    text-align: center;
}
.notices-single{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    color: white;
    text-align: center;
}
.notices{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-color: black;
    background-color: darkcyan; 
    font-family: Arial;
    font-size: 20px; 
}
.odd_notices{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-color: black;
    background-color: rgb(0, 100, 139); 
    font-family: Arial;
    font-size: 20px; 
}
.course_table{
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-color: black;
    background-color: darkcyan; 
    font-family: Arial;
    font-size: 20px; 
}
.notices_2column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
    border-color: black;
    background-color: darkcyan; 
    font-family: Arial;
    font-size: 20px; 
}
.buttons{
  color: #fff;
  padding: 15px 25px;
  background-color: blue;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 14px;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  width: 250px;
    height: 50px;
}
.buttons:hover{
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.img-cooler{
    border-radius: 5%;
    width: 300px;
    height: 200px;
}
.footer{
    background-color: lightgray;
    color: black;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial;
    text-align: center;
    font-style: italic;
    font-weight: 900; 
    font-size: 12px; 
}
.reunion-pics{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}
.newsletters{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
    text-align: center;
}
.sidebar{
    background-color: gray;
    color: white;
    position: fixed;
    border-radius: 10px;
    left: 0;
    bottom: 15px;
    top: 105px;
    margin-right: 100px;
    width: 72px; 
}
